body {background-color: pink;}

h4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    
}

.cardarea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.card-diary {
    display: flex;
    flex-direction: column;
}